workflows/A11y Checks.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Get Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan": {
      "main": [
        [
          {
            "node": "Did Scan Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Record Scan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Are there Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Scan": {
      "main": [
        [
          {
            "node": "Rename Scan ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Rename Type Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Scan ID": {
      "main": [
        [
          {
            "node": "Merge Issues & Scan ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Issues & Scan ID": {
      "main": [
        [
          {
            "node": "Insert Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Type Code": {
      "main": [
        [
          {
            "node": "Merge Issues & Scan ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Domains": {
      "main": [
        [
          {
            "node": "Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Issues": {
      "main": [
        [
          {
            "node": "Update Domain Checked At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Domain Checked At": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Scan Pass?": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure Vars": {
      "main": [
        [
          {
            "node": "Record Scan Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Scan Errors": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are there Issues?": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Domain Checked At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Did this workflow error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did this workflow error?": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Get Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-07T08:12:57.222Z",
  "id": "10",
  "name": "A11y Checks",
  "nodes": [
    {
      "parameters": {},
      "id": "f2738e06-436b-46cd-a1f9-f2ca27cffbd9",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a11yapi.bentleyhensel.com/api/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"email\": \"bentleyhensel@gmail.com\", \"password\": \"Pecans2020!\" }",
        "options": {}
      },
      "id": "142d128c-c046-4bdf-bc02-04f2a67939aa",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT domain FROM a11y.domains_gov WHERE (scanned_at < NOW() - INTERVAL '16 hours' OR scanned_at IS NULL) AND (scan_error_at < NOW() - INTERVAL '16 hours' OR scan_error_at IS NULL) ORDER BY RANDOM() LIMIT 1;",
        "additionalFields": {}
      },
      "id": "02008f99-a0a3-4371-89f9-917413abdd3c",
      "name": "Get Domains",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        380,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "PostyTheGres: Gates of the Arctic"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a11yapi.bentleyhensel.com/api/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"https://{{ $json[\"domain\"] }}\",\n\"pageInsights\": true }",
        "options": {}
      },
      "id": "edd8e488-3cbc-4f2e-a02b-8c39f8050781",
      "name": "Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        520
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "data.domain",
              "newKey": "domain"
            },
            {
              "currentKey": "data.url",
              "newKey": "url"
            },
            {
              "currentKey": "data.pageLoadTime.duration",
              "newKey": "page_load_time"
            },
            {
              "currentKey": "data.issues",
              "newKey": "issues"
            },
            {
              "currentKey": "data.issuesInfo",
              "newKey": "issues_info"
            },
            {
              "currentKey": "data.lastScanDate",
              "newKey": "last_scan_date"
            },
            {
              "currentKey": "data.lastScanDate",
              "newKey": "scanned_at"
            },
            {
              "currentKey": "data.online",
              "newKey": "online"
            },
            {
              "currentKey": "data.pageLoadTime.color",
              "newKey": "page_load_time_color"
            },
            {
              "currentKey": "data.issuesInfo.possibleIssuesFixedByCdn",
              "newKey": "possible_issues_fixed_by_cdn"
            },
            {
              "currentKey": "data.issuesInfo.totalIssues",
              "newKey": "total_issues"
            },
            {
              "currentKey": "data.issuesInfo.issuesFixedByCdn",
              "newKey": "issues_fixed_by_cdn"
            },
            {
              "currentKey": "data.issuesInfo.errorCount",
              "newKey": "error_count"
            },
            {
              "currentKey": "data.issuesInfo.warningCount",
              "newKey": "warning_count"
            },
            {
              "currentKey": "data.issuesInfo.noticeCount",
              "newKey": "notice_count"
            },
            {
              "currentKey": "data.issuesInfo.adaScore",
              "newKey": "ada_score"
            },
            {
              "currentKey": "data.issuesInfo.issueMeta.skipContentIncluded",
              "newKey": "skip_content_included"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "07ef6627-de3e-431e-8d6c-2577cb4ab6e2",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1320,
        520
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "issues",
        "options": {}
      },
      "id": "7e73211f-08a0-4415-a6ef-29f5bab1bde1",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1840,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "schema": "a11y",
        "table": "scans",
        "columns": "domain,scanned_at,success,code,url,page_load_time,page_load_time_color,possible_issues_fixed_by_cdn,total_issues,issues_fixed_by_cdn,error_count,warning_count,notice_count,ada_score,skip_content_included,online",
        "returnFields": "id,domain,scanned_at",
        "additionalFields": {}
      },
      "id": "8fc3c3b5-dea2-4cbb-85a8-50301d651948",
      "name": "Record Scan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1760,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "PostyTheGres: Gates of the Arctic"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "scan_id"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "24a2b745-2a05-4ab9-837b-b8843835cddb",
      "name": "Rename Scan ID",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1980,
        680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "4e321d87-69c5-49eb-9623-6813c9259396",
      "name": "Merge Issues & Scan ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2380,
        520
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "typeCode",
              "newKey": "type_code"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "d3d3e110-a586-48db-b4e9-d8f71c10dcbd",
      "name": "Rename Type Code",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "schema": "a11y",
        "table": "issues",
        "columns": "scan_id,code,type,type_code,message,context,selector,runner,recurrence,domain,scanned_at",
        "returnFields": "scan_id,domain,scanned_at",
        "additionalFields": {}
      },
      "id": "e869caab-82c9-4a35-b702-c5fc008a3e30",
      "name": "Insert Issues",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2660,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "PostyTheGres: Gates of the Arctic"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "a11y",
        "table": "domains_gov",
        "updateKey": "domain",
        "columns": "scanned_at:timestamptz",
        "returnFields": "id",
        "additionalFields": {}
      },
      "id": "e15dbec0-eab4-44ee-a7af-daf493206e0e",
      "name": "Update Domain Checked At",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2840,
        960
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "PostyTheGres: Gates of the Arctic"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"code\"] }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "9fa2517b-d369-4d55-abc8-517201c813d4",
      "name": "Did Scan Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        520
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "domain",
              "value": "={{ $node[\"Get Domains\"].json[\"domain\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d358f12b-12b1-4a7b-b65a-7aa5d3ca7527",
      "name": "Set Failure Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1060,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE a11y.domains_gov SET scan_error_at = NOW(),     scan_error = $2 WHERE domain = $1 RETURNING domain;",
        "additionalFields": {
          "queryParams": "domain,scan_error"
        }
      },
      "id": "7c5e621a-7163-43fb-89eb-fcf4460908f5",
      "name": "Record Scan Errors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1560,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "PostyTheGres: Gates of the Arctic"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 18
            }
          ]
        }
      },
      "id": "d9e71fff-be58-4cd9-bedb-e29ec9570976",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"total_issues\"] }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "6cffa7c6-23f8-4623-8a24-6783887a4afb",
      "name": "Are there Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        420
      ]
    },
    {
      "parameters": {},
      "id": "b5d02701-4679-411f-8222-962b456677ac",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"workflow\"][\"id\"] }}",
              "value2": "10"
            }
          ]
        }
      },
      "id": "0fc91fb7-f705-4471-97c7-f2a9c6fb3d31",
      "name": "Did this workflow error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -480,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "92860b94-f755-43b4-ab46-ae53f5951b86",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3060,
        1080
      ]
    },
    {
      "parameters": {
        "workflowId": "13"
      },
      "id": "9b0e11b9-4fed-45c3-b5a4-c16e4379dcff",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1840,
        940
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-07T13:46:11.206Z",
  "versionId": "27a7cd11-e1da-4483-9179-5b6eaaac6dd5"
}