workflows/v2/Federal Agencies.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Is Parent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Parent?": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Is DoD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is DoD?": {
      "main": [
        [
          {
            "node": "is dod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is not dod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is dod": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is not dod": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Final Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Set": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "CA Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-19T05:33:59.620Z",
  "id": "7",
  "name": "Federal Agencies",
  "nodes": [
    {
      "parameters": {},
      "id": "dd65f470-a4a7-4076-aab7-7726a4f5d993",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://www.opm.gov/about-us/open-government/Data/Apps/agencies/agencies.xml",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "cddf08b2-cd9e-4854-b051-bb01bafc0e55",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e059a0d6-f955-4231-a58a-005935514e87",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "agencies.agency",
        "options": {}
      },
      "id": "8bd3f671-62e0-4316-b4ee-7e1be7c71927",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1140,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"agency_subelement\"] }}",
              "value2": "={{ $json[\"name\"] }}"
            }
          ]
        }
      },
      "id": "9abbea5b-fac6-4c35-ab1e-f1b80828e261",
      "name": "Is Parent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"name\"] }}"
            },
            {
              "name": "agency_type",
              "value": "={{ $json[\"type\"] }}"
            }
          ],
          "number": [
            {
              "name": "employment",
              "value": "={{ $json[\"employment\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce37ea43-706b-4531-bc8a-1661c77623d3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1760,
        220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"agency_subelement\"] }}"
            },
            {
              "name": "agency_type",
              "value": "={{ $json[\"type\"] }}"
            },
            {
              "name": "parent_agency",
              "value": "={{ $json[\"name\"] }} "
            }
          ],
          "number": [
            {
              "name": "employment",
              "value": "={{ $json[\"employment\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e311c33c-6272-48f2-b5b0-3f225ce3a587",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {},
      "id": "246a7604-b291-4eb8-8ea8-0b00ca76ca5b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2020,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"dod_aggregate\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b0623845-39b0-454b-bcd5-596ed7c9ec92",
      "name": "Is DoD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        340
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "dod",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "90039bfb-f4a3-4395-8bd1-d0e60f4ddb22",
      "name": "is dod",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2460,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "dod"
            }
          ]
        },
        "options": {}
      },
      "id": "ef08dc0c-8632-4783-8517-b9878943d0b7",
      "name": "is not dod",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2480,
        420
      ]
    },
    {
      "parameters": {},
      "id": "37f99e68-434d-4c40-b4c4-458a301bb4c0",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2740,
        340
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "1befa66c-e3c4-478e-8f73-12cef22d6b45",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2960,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "ca-a11y",
        "datasetId": "public_data",
        "tableId": "test",
        "options": {
          "skipInvalidRows": false,
          "templateSuffix": ""
        }
      },
      "id": "aca63b28-1a89-4b4b-8575-bdfdaf0c3817",
      "name": "Google BigQuery1",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [
        3280,
        220
      ],
      "credentials": {
        "googleApi": {
          "id": "5",
          "name": "CA Cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "TheBoatyMcBoatFace",
        "repository": "Data-Sets",
        "filePath": "Government/US/Structure/agencies.json",
        "binaryData": true,
        "commitMessage": "Magic Updates ",
        "additionalParameters": {
          "author": {
            "name": "Bentley Hensel",
            "email": "bfhensel@gmail.com"
          }
        }
      },
      "id": "aca1efc2-8935-4ad3-8cae-6df6204bea95",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        4120,
        540
      ],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"name\"] }}"
            },
            {
              "name": "type",
              "value": "={{ $json[\"type\"] }}"
            },
            {
              "name": "parent_agency",
              "value": "={{ $json[\"parent_agency\"] }}"
            },
            {
              "name": "branch"
            },
            {
              "name": "description"
            },
            {
              "name": "abbreviation"
            }
          ],
          "number": [
            {
              "name": "employment",
              "value": "={{ $json[\"employment\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "dod",
              "value": "={{ $json[\"dod\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "805b7225-c9f3-43a6-934b-091de02b0a18",
      "name": "Final Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        420
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "federal_agencies"
      },
      "id": "9a550bde-428b-4a04-a69c-e0a02534378d",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        3540,
        420
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "agencies.json",
          "mimeType": "application/json"
        }
      },
      "id": "a1f3a43e-b6e1-412d-a00e-872164349594",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        3760,
        420
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "CivicActions",
        "repository": "public-sector-a11y",
        "filePath": "data/agencies-orgs/federal.json",
        "binaryData": true,
        "commitMessage": "Agency Upsert"
      },
      "id": "295c9faa-df53-4a78-acfe-908c72031943",
      "name": "CA Github",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        4040,
        280
      ],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "b7969c4a-2a36-4d0c-8b43-2cf2a4ce74fc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        320,
        680
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-30T19:22:26.637Z",
  "versionId": "771a2233-9586-402b-aa7d-4b8301d97dfa"
}