workflows/v2/GOV Site Tech.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get DoD Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DoD Domains": {
      "main": [
        [
          {
            "node": "Filter capture errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Did it Fail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did it Fail?": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Capture Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter capture errors": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Mark Capture Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-21T08:36:01.215Z",
  "id": "11",
  "name": "GOV Site Tech",
  "nodes": [
    {
      "parameters": {},
      "id": "5f694057-9581-4ba5-9260-940edab75a75",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/14SDbWLXuQL_Flt5pVIsnmsg2-r5wvWPZGZkWDeTstfE/edit#gid=1243942116",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 661711473,
          "mode": "list",
          "cachedResultName": ".GOV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14SDbWLXuQL_Flt5pVIsnmsg2-r5wvWPZGZkWDeTstfE/edit#gid=661711473"
        },
        "options": {}
      },
      "id": "820f5ee4-4b42-4286-9b50-521a658a53a5",
      "name": "Get DoD Domains",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        520,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "bentley.hensel@civicactions.com"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fc233eae-8fb9-403e-af31-9face73c237c",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ]
    },
    {
      "parameters": {
        "url": "https://tech-scan.bentleyhensel.com/extract",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json[\"url\"] }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "response": {
            "response": {}
          },
          "timeout": 10000
        }
      },
      "id": "cb87c06d-244e-4475-8ff9-aed27992db18",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        340
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"applications\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "2610ff06-a02d-4325-82d9-0a38c10443ed",
      "name": "Did it Fail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1680,
        340
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/14SDbWLXuQL_Flt5pVIsnmsg2-r5wvWPZGZkWDeTstfE/edit#gid=1243942116",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 661711473,
          "mode": "list",
          "cachedResultName": ".GOV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14SDbWLXuQL_Flt5pVIsnmsg2-r5wvWPZGZkWDeTstfE/edit#gid=661711473"
        },
        "columnToMatchOn": "url",
        "valueToMatchOn": "={{ $json[\"url\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "capture_error",
              "fieldValue": "true"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "c2fc8aa6-9e6d-4ffb-9e38-5e3bfabfaba2",
      "name": "Mark Capture Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2380,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "bentley.hensel@civicactions.com"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "780f3ff0-a14a-4586-b386-99ce13f96f83",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2540,
        -60
      ],
      "webhookId": "69d4316a-d2fc-4660-a985-92a36e3251eb"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ Object.keys($json[\"urls\"]).join(', ') }}"
            },
            {
              "name": "language",
              "value": "={{ $json[\"meta\"][\"language\"] }}"
            },
            {
              "name": "apps",
              "value": "={{ $json[\"applications\"] }}"
            },
            {
              "name": "dod",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "e267c410-9129-44f2-86df-c788d6b95438",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1900,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO a11y.tech_scans (url, apps, language, dod)\nVALUES ($1, $2, $3, $4)ON CONFLICT (url) DO UPDATE SET apps = EXCLUDED.apps,    language = EXCLUDED.language, dod = EXCLUDED.dod;",
        "additionalFields": {
          "queryParams": "url,apps,language,dod"
        }
      },
      "id": "5fdc3e40-63f1-41da-936f-65a56c766df1",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2240,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Gates of the Arctic (gota)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"capture_error\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "c6bdc4de-c99f-4d86-b482-76cea74f4a3d",
      "name": "Filter capture errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ Object.keys($json[\"urls\"]).join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ec76196-ae7f-444d-a983-cc770fb15a40",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2120,
        240
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-01-21T10:17:46.261Z",
  "versionId": "7e034c87-35e0-41ab-b2e6-85180b9d531a"
}